.row-fluid
  .span12
    .page-header
      .pull-right
        .btn-group
          = link_to dashboard_calendar_path, class: "btn btn-small #{calendar_button_status(controller.controller_name)}" do
            %i.icon-calendar
            calendar
          = link_to dashboard_list_path, class: "btn btn-small #{list_button_status(controller.controller_name)}" do
            %i.icon-list
            list

      %h2 What's Happening
