.row
  .col-md-12
    = render partial: 'dashboard/calendar_list'

- @units.each do |unit|
  %div{id: "unit-events-#{unit.id}"}
    = render partial: 'events/unit', locals: {unit: unit, limit: @limit}

= #render partial: 'events/unit', collection: @units, locals: {limit: @limit}
