/.bundle
/.powenv
/.ruby-version
/db/*.sqlite3
/log/*.log
/tmp/*
/tmp/**/*
/public/system/**
/backups/**
/bin/**
/update/**
/public/images/dog_in_collar.jpg
/public/uploads/**
/config/database.yml
/coverage/**
/public/assets/*.gz
/public/assets/*.js
/public/assets/*.png
/public/assets/*.gif
/public/assets/*.jpg
/public/assets/*.jpeg
/public/assets/*.css
/public/assets/*.old_js_bak
/public/assets/*.eot
/public/assets/*.svg
/public/assets/*.ttf
/public/assets/*.woff
/public/assets/outlier/**
/public/assets/not_auto_loaded/**
/.sass-cache/**
/lib/tasks/asset_sync.rake
.powenv
.powrc
