.modal.fade#event-signup-modal-form
  .modal-dialog.modal-md
    .modal-content

      .modal-header
        %button.close{ data: { dismiss: 'modal' } } &times;
        .pull-right
          = user_picture_circle(event_signup.user)
          &nbsp;
        %p.xxlarge
          %strong
            - if event_signup.new_record?
              Add #{event_signup.user.name}
            - else
              Change #{event_signup.user.name}
          / %small how does it work?

      .modal-body.well-reduced-text
        = render partial: 'event_signups/form', locals: { event_signup: event_signup, close_button: true }
