= cache_unless event_signup.new_record?, event_signup do
  .row
    .col-md-12
      .well.well-sm
        .row
          .col-md-12
            .pull-right
              = user_picture_circle(event_signup.scout)
            %p.xxlarge
              %strong Sign Up #{event_signup.scout.f_name_l_initial}

            = render partial: 'event_signups/form', locals: {event_signup: event_signup, close_button: false}
