- if current_user.admin?
  :plain
    $("div#adult-index").html("#{ escape_javascript(render partial: 'adults/index_admin', locals: { unit: @unit, users: @users, users_count: @users.count, searching: @searching }) }");

- else
  :plain
    $("div#adult-index").html("#{ escape_javascript(render partial: 'adults/index', locals: { unit: @unit, users: @users, users_count: @users.count, searching: @searching }) }");
