- user_health_form = user.health_forms.unit(unit) || HealthForm.new(user: user, unit: unit)

- if HealthFormPolicy.new(current_user, user_health_form, unit).show?
  %tr
    %td
      %strong Health Forms
    %td
      - if user_health_form.new_record? || user_health_form.all_blank?
        %em none on file
      - else
        = render partial: 'health_forms/tags', locals: { health_form: user_health_form }

      - if HealthFormPolicy.new(current_user, user_health_form, unit).update?
        &nbsp;
        - return_url = user.adult? ? unit_adult_url(unit, user) : unit_scout_url(unit, user)

        - if user.health_forms.unit(unit)
          = link_to 'Edit', edit_unit_health_form_path(unit, user.health_forms.unit(unit), return: return_url), class: 'btn btn-default btn-xs'
        - else
          = link_to 'Add', new_unit_health_form_path(unit, user_id: user.id, return: return_url), class: 'btn btn-default btn-xs'
