- if user.new_record?
  You can edit health forms after the user is saved.

- else
  - user_health_form = user.health_forms.unit(unit) || HealthForm.new(user: user, unit: unit)

  - if HealthFormPolicy.new(current_user, user_health_form, unit).show?
    = render partial: 'health_forms/tags', locals: { health_form: user_health_form }

  - if HealthFormPolicy.new(current_user, user_health_form, unit).update?
    - return_url = user.adult? ? edit_unit_adult_url(unit, user) : edit_unit_scout_url(unit, user)
    - if user.health_forms.unit(unit)
      = link_to 'Edit health forms', edit_unit_health_form_path(unit, user.health_forms.unit(unit), return: return_url)
    - else
      = link_to 'Edit health forms', new_unit_health_form_path(unit, user_id: user.id, return: return_url)

  - else
    %br
    %p You are not allowed to edit your health forms. Please contact an adult leader.
