- user_health_form = user.health_forms.unit(unit) || HealthForm.new(user: user, unit: unit)

- if policy(user_health_form).show?
  %tr
    %td
      %strong Health Forms
    %td
      - if user_health_form.new_record? || user_health_form.all_blank?
        %em none on file
      - else
        = render partial: 'health_forms/tags', locals: { health_form: user_health_form }
