- if user.new_record?
  You can edit health forms after the user is saved.

- else
  - user_health_form = user.health_forms.unit(unit) || HealthForm.new(user: user, unit: unit)
  = render partial: 'health_forms/tags', locals: { health_form: user_health_form }

  - if user.health_forms.unit(unit)
    = link_to "Edit health forms", edit_unit_health_form_path(unit, user.health_forms.unit(unit), return: edit_unit_scout_url(unit, user))
  - else
    = link_to "Edit health forms", new_unit_health_form_path(unit, user_id: user.id, return: edit_unit_scout_url(unit, user))
