%td
  %span.badge.badge-primary{title: 'Sign in Count'}= user.sign_in_count

%td
  - if user.confirmed?
    %span.label.label-success{title: 'Access Confirmed'}> C
  - else
    %span.label.label-default{tilte: 'Access Not-Confirmed'}> X
  &nbsp;


  - case user.role
  - when 'basic'
    %span.label.label-primary{title: 'Role: Basic'}> B
  - when 'leader'
    %span.label.label-success{title: 'Role: Leader'}> L
  - when 'admin'
    %span.label.label-danger{title: 'Role: Admin'}> A
  - when 'inactive'
    %span.label.label-default{title: 'Role: Inactive'}> I
  - else
    %span.label.label-default{title: 'Role: NONE'}> 0

  &nbsp;

  - if user.access_locked?
    %span.label.label-warning{title: 'Access Locked!'}>
      %i.fa.fa-lock
    &nbsp;

  - unless user.encrypted_password
    %span.label.label-info{tilte: 'No password'}
      %i.fa.fa-key
