%small
  - email_message.sent_to.each do |user|
    = link_to user.name_lf, unit_user_path(email_message.unit, user)
    &mdash;
    = Time.zone.parse(email_message.sent_to_hash[user.id][:sent_at]).to_s(:datetimepicker)
    , status:
    = email_message.sent_to_hash[user.id][:status]
    %br
