= render partial: 'layouts/flash', locals: {flash: flash, ar_object: @event_signup}

%h2 Change signup for #{@scout.first_name}

.well.well-small
  %p.xxlarge
  = form_for ([@event, :email, @event_signup]), html: { class: 'form-horizontal form-condensed' } do |f|

    = render partial: 'form', locals: {f: f}
