!!!
%html{style: "font-family: sans-serif;"}
  %head
  %body

    %h3 Hello #{@user.first_name}!

    %p
      An account has been created for you at
      %a{href: "http://www.scoutt.in"} Scoutt.in
      , a website that will help manage your Troop, Pack, or Crew. You can
      %a{href: "http://www.scoutt.in"} read more about it at www.scoutt.in
      = '.'

    %p In order to activate your account, you need to reset the password.

    %p= link_to 'Active my account!', user_welcome_edit_url(reset_password_token: @token)

    %strong You have 72 hours to complete the activation.
