!!!
%html{style: "font-family: sans-serif;"}
  %head
  %body
    / %h2{style: "color: white; background-color: gray; padding: 4px"}= @email_message.subject
    = @email_message.message.html_safe

    - if @email_message.has_events?
      %div{style: "height: 12; background-color: darkgray; margin-bottom: 8px;"}
      = render @events

    = render partial: 'unsubscribe/email_footer', locals: {action: :blast_email, user: @recipient}
