@import "compass/css3"
// .navbar .navbar-inner
//   padding-left: 20px

.well.sidebar-nav
  padding: 8px 0px


div.text-large, p.large, p large, i.large, span.large, strong.large, em.large
  font-size: 14px
  line-height: 1

div.text-xlarge, p.xlarge, p xlarge, i.xlarge, span.xlarge, strong.xlarge, em.xlarge
  font-size: 18px
  line-height: 1.2

div.text-xxlarge, p.xxlarge, p xxlarge, i.xxlarge, span.xxlarge, strong.xxlarge, em.xxlarge
  font-size: 24px
  line-height: 1.4

div.text-xxxlarge, p.xxxlarge, p xxxlarge, i.xxxlarge, span.xxxlarge, strong.xxxlarge, em.xxxlarge
  font-size: 42px
  line-height: 1.4

.centered
  text-align: center

.inline-blocked
  display: inline

footer
  background: #333
  color: #bbb
  padding: 16px 0px 16px
  margin-top: 20px

.monospace
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace

.dark_background
  background: #222

.centered
  text-align: center

.right-justified
  text-align: right


.modal-style
  background-color: white
  border: 1px solid #999
  border: 1px solid rgba(0, 0, 0, 0.3)
  @include border-radius(6px)
  @include single-box-shadow(rgba(0, 0, 0, 0.3), 2px, 5px)

.modal-body-tall
  overflow-y: visible
  max-height: none

body.body-modal
  background-color: grey


.error.help-block, .error.help-inline
  color: #b94a48

.field_with_errors
  display: inline
  &> label, .help-block, .help-inline
    color: #b94a48
  & .checkbox, .radio, input, select, textarea
    color: #b94a48
    border-color: #b94a48
  & .checkbox:focus, .radio:focus, input:focus, select:focus, textarea:focus
    border-color: #b94a48
    +box-shadow(0, 0, 6px, #d59392)

.well-cubs
  background-color: #f5f9ff
  border-color: #ffe9d3

.well-boys
  background-color: #f4f1ed
  border-color: #cccbe3

.well-thin
  margin-top: 6px
  margin-bottom: 12px
  padding: 6px


.input-append-start-end
  width: 220px
  display: inline-block

.map_container img
  max-width: none

.map_container label
  width: auto
  display: inline

.iframe-rwd
  position: relative
  padding-bottom: 65.25%
  padding-top: 30px
  height: 0
  overflow: hidden

.iframe-rwd iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.email-message-events
  border: 2px solid #ccc
  padding-top: 12px
  padding-bottom: 12px
  height: 140px
  overflow-y: scroll

.text-grey
  color: grey

smaller
  font-size: 70%
  line-height: .8em

legend
  margin-bottom: 0px
legend + *
  -webkit-margin-top-collapse : separate
  margin-top                  : 20px
