.form-group
  = label_tag field, label, class: 'control-label'
  .input-group
    .input-group-addon
      %i.fa.fa-calendar
    = f.text_field_without_bootstrap field, value: f.object.send(field).try(:to_s, :mo_abbr_year), class: 'form-control date-only-picker'
    %span.input-group-btn
      %button.btn.btn-default.date-clear{type: 'button'} clear
