- if health_form.part_a_date
  .label{class: form_date_label(health_form.part_a_expires), data: {toggle: 'tooltip'}, title: 'Part A' } A

- if health_form.part_b_date
  .label{class: form_date_label(health_form.part_b_expires), data: {toggle: 'tooltip'}, title: 'Part B' } B

- if health_form.part_c_date
  .label{class: form_date_label(health_form.part_c_expires), data: {toggle: 'tooltip'}, title: 'Part C' } C

- if health_form.florida_sea_base_date
  .label{class: form_date_label(health_form.florida_sea_base_expires), data: {toggle: 'tooltip'}, title: 'Florida Sea Base' } FSB

- if health_form.northern_tier_date
  .label{class: form_date_label(health_form.northern_tier_expires), data: {toggle: 'tooltip'}, title: 'Northern Tier' } NT

- if health_form.philmont_date
  .label{class: form_date_label(health_form.philmont_expires), data: {toggle: 'tooltip'}, title: 'Philmont' } P

- if health_form.summit_tier_date
  .label{class: form_date_label(health_form.summit_tier_expires), data: {toggle: 'tooltip'}, title: 'Summit' } S
