= hidden_field_tag :ckeditor_func_num, params['CKEditorFuncNum']

.pull-right
  = link_to 'Close', '#', class: 'btn btn-default', id: 'close-window', data: {dismiss: 'modal'}

%h3 Select file to use
#fileupload.gal-holder
  .fileupload-list{"data-endless" => "true"}
    = render :partial => 'ckeditor/shared/asset', :collection => @pictures
