= cache :footer do
  %footer
    .container-fluid
      .row
        .col-md-12
          %p.pull-right
            &copy; #{Time.now.year}, Desert Solitaire, LLC
            %br
            %small All rights reserved.
