.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="/") Scoutz
      .container.nav-collapse
        %ul.nav
          - if current_user
            %li= link_to 'Sign out', destroy_user_session_path, method: :delete
            %li= #select_tag("My Units", options_from_collection_for_select(current_user.units, :id, :unit_number))
