.row.no-print.print-button-section
  .col-md-12
    .pull-right
      = link_to return_link, class: 'btn btn-default btn-lg' do
        %i.fa.fa-reply
        Return
      = button_tag class: 'btn btn-success btn-lg print-button' do
        %i.fa.fa-print
        Print
