.well.sidebar-nav
  %ul.nav.nav-list
    - @units.each do |unit|
      %li.nav-header= unit.name_unit
      %li= link_to 'Scouts', unit_scouts_path(unit)
      %li= link_to 'Adults', unit_adults_path(unit)
      %li= link_to 'Email Blast', unit_email_messages_path(unit)
