.well.sidebar-nav
  %ul.nav.nav-list
    - @organizations.each do |organization|
      %li.nav-header= organization.name_unit
      %li= link_to 'Scouts', organization_scouts_path(organization)
      %li= link_to 'Adults', organization_adults_path(organization)
