!!! 5
%html{ lang: 'en' }
  %head
    = render 'layouts/head'
    = yield :head

  %body.dialog-dark
    .container-fluid
      .row
        = yield

    -# = render 'layouts/footer'
    = render 'layouts/js'
