!!! 5
%html(lang="en")
  %head
    = render partial: 'layouts/head'
    = yield :head

  %body.body-modal
    .container-fluid
      .row
        .span6.offset3
          = yield

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
