!!! 5
%html{ lang: 'en' }
  %head
    = render 'layouts/head'
    = yield :head

  %body.body-modal
    .container-fluid
      .row
        .col-md-6.col-md-offset-3
          = yield

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag 'application'
